* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: cornflowerblue;
    background-image: url(/img/pattern.png);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    height: 60px;
    
}

img{
    margin-top: 30px;
    width: 120px;
}